
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {{ title }}  - Yaathri
  </title>
 {% load staticfiles %}
  <!-- Favicon -->
  <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'app/scripts/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
  <link href="{% static 'app/scripts/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'app/css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="bg-default">
 {% block content %}{% endblock %}
 <!-- Footer -->
      <footer class="col-xl-6">
        <div class="row">
	
        <span class="copyright text-center text-xl-left text-muted">
            Powered by --AC--
        </span>

		
          <div class="ml-auto">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; {{ year }} <a  class="font-weight-bold ml-1" >Yaathri</a>
            </div>
          </div>
        </div>
      </footer>
  <!--   Core   -->
    <script src="{% static 'app/scripts/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'app/scripts/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

   <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
  <!--   Optional JS   -->
  <script src="{% static 'app/scripts/plugins/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'app/scripts/plugins/chart.js/dist/Chart.extension.js' %}"></script>
  <!--   Argon JS   -->
  <script src="{% static 'app/scripts/argon-dashboard.min.js' %}"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
  
  {% block scripts %}{% endblock %}
</body>

</html>