{% extends "app/layout.html" %}

{% block content %}

<div>
    <h1>Home</h1>
    <p class="lead"></p>
    <p><a href="/chat" class="btn btn-primary btn-large">CHATS</a></p>
     <p class="lead"></p>
     <p><a href="/" class="btn btn-primary btn-large">Courses</a></p>
     <p class="lead"></p>
     <p><a href="https://iclassrtc.herokuapp.com/demos/dashboard/" class="btn btn-primary btn-large">Virtual Class</a></p>
     <p class="lead"></p>
     <p><a href="https://iclassrtc.herokuapp.com/demos/Scalable-Broadcast.html" class="btn btn-primary btn-large">Start Broadcast</a></p>
     <p class="lead"></p>
      <p><a href="/" class="btn btn-primary btn-large">Doubts</a></p>
     <p class="lead"></p>

</div>


{% endblock %}
